* {
    margin: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    /* width: calc(min(90rem, 90%)); */
    /* margin: 0 auto; */
    column-gap: 3rem;
    /* padding-block: min(20vh, 3rem); */
}

@media screen and (min-width: 65rem) {
    .carousel {
        display: flex;
        align-items: center;
    }

}

.carousel-content h1 {
    letter-spacing: 0.8px;
    font-size: 3rem;
    line-height: 1.1;
    padding-right: 0rem;
}

.carousel-content hr {
    display: block;
    background: orange;
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}

.carousel-content p {
    line-height: 1.6;
}


.myswiper {
    width: 100%;
    padding-top: 3.125rem;
}

.myswiper-slider {
    width: 13rem;
    height: 19rem;
    background-size: cover;
    background-position: center;
}

.myswiper-slider div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}


.swiper-slide-active div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 2rem;

}


.myswiper-slider h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}