.myswiper-slider {
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.myswiper-slider div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}


.swiper-slide-active div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 2rem;

}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}